*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight:normal;
    text-decoration: none;
    list-style: none;
    color: rgb(247, 241, 241);
}
body{
    background-color: #17171a;  
}
header{
    border-bottom: solid 1px rgb(58, 58, 58);
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: #17171a;
}
header,.logo,.menu, .content_menu{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header,.menu, ul,li{
    padding: 0 18px;
    align-items: center;
}
.content_disciplinas{
    display: flex;
    justify-content: space-evenly;
    background-image: url(duncan-kidd-Cju-BkSkM1k-unsplash.jpg);
    border-bottom: solid 1px rgb(58, 58, 58);
    padding: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:62px;
}
footer{
    background-color: #121213;
    width: 100%;
    height: 100%;
}
.content-stories, .img-stories{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_txt,#item-footer{
    display: flex;
    flex-direction:column;
    padding: 15px 10px;
    align-items: center;
}
.click-menu:hover{
    color: rgb(172, 169, 169);
}
#link-know-more{
    color: rgb(96, 104, 226);
}
#link-know-more:hover{
    color: rgb(67, 73, 156);
}