*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 227, 227);
}
h1{
    text-align: center;
    padding: 20px 0;
}
.section{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
}
img{
    animation-name: animação;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animação{
    0%{
        transform: rotate(400grad);
    }
}

